<!DOCTYPE html>
<html>
<head>
  <title>BenchBnB</title>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyDJ4O_FznZJ1F9P046FR4KL6cc8d-1TCaU" %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
